@tailwind base;
@tailwind components;
@tailwind utilities;

.background-animate {
  background-size: 400%;
  -webkit-animation: AnimationName 5s ease infinite;
  -moz-animation: AnimationName 5s ease infinite;
  animation: AnimationName 5s ease infinite;
}

html,body, #__next {
  height: 100% !important;
  box-sizing: border-box;
  margin: 0;
  @apply bg-gradient-to-b from-gray-900 via-gray-900  bg-purple-800 bg-no-repeat;
}

@keyframes AnimationName {
  0%,
  100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}
#style-3::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

#style-3::-webkit-scrollbar {
	width: 6px;
	background-color: #F5F5F5;
}

#style-3::-webkit-scrollbar-thumb {
	background-color: #000000;
}